<div class="forien-switch">
    <div class="forien-switch-control">
        <input type="checkbox" class="forien-switch-checkbox" id="{{name}}" name="{{name}}" {{#if checked}}checked="checked"{{/if}}/><label class="forien-switch-label" for="{{name}}"></label>
    </div>
    <label class="forien-switch-actual-label" for="{{name}}">{{label}}</label>
</div>