<li class="chat-message message flexcol forien-poll" data-message-id="{{message._id}}">
    <header class="message-header flexrow">
        <span class="flavor-text">{{poll.flavor}}</span>
        <span class="message-metadata">
            <time class="message-timestamp">{{timeSince message.timestamp}}</time>
            {{#if canDelete}}
                <a aria-label="{{localize 'Delete'}}" class="message-delete" data-action="deleteMessage">
                <i class="fa-solid fa-trash" inert></i>
            </a>
            {{/if}}
            {{#if canClose}}
                <a aria-label="{{ localize "CHAT.Dismiss" }}" class="message-dismiss" data-action="dismissMessage">
                <i class="fa-solid fa-xmark" inert></i>
            </a>
            {{/if}}
        </span>
    </header>
    <div class="message-content">
        <h3>{{poll.question}}:</h3>
        <div class="answers">
            {{#if poll.results}}
                {{#each poll.options}}
                    <div class="answer">
                        <div class="bar-container">
                            <div class="bar" style="width: {{this.percent}}%"></div>
                            <div class="answer-data" data-tooltip="{{this.tooltip}}">
                                <span class="label">{{this.labelLimited}}</span>
                                <span class="count">{{this.count}}</span>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                {{#each poll.options}}
                    <label>
                        <input type="{{#if @root.poll.multiple}}checkbox{{else}}radio{{/if}}"
                               name="poll-{{@root.id}}-answer"
                               class="poll-answer"
                               data-answer="{{this.label}}"
                               data-poll="{{@root.id}}" {{checked checked}}/>
                        {{this.label}}
                    </label>
                {{/each}}
            {{/if}}
        </div>
        <div class="poll-control-buttons">
            {{#if (or poll.settings.results isGM)}}
                <button class="toggle-results">
                    <i class="fas fa-chart-simple"></i> {{localize "Forien.EasyPolls.ToggleResults"}}
                </button>
            {{/if}}
            {{#if isGM}}
                <button class="toggle-setting" data-setting="results">
                    {{#if poll.settings.results}}
                        <i class="fas fa-eye-slash"></i> {{localize "Forien.EasyPolls.ToggleSettingResults.Disable"}}
                    {{else}}
                        <i class="fas fa-eye"></i> {{localize "Forien.EasyPolls.ToggleSettingResults.Enable"}}
                    {{/if}}
                </button>
                <button class="toggle-setting" data-setting="secret">
                    {{#if poll.settings.secret}}
                        <i class="fas fa-users"></i> {{localize "Forien.EasyPolls.ToggleSettingSecret.Disable"}}
                    {{else}}
                        <i class="fas fa-user-secret"></i> {{localize "Forien.EasyPolls.ToggleSettingSecret.Enable"}}
                    {{/if}}
                </button>
            {{/if}}
        </div>
        <div class="stats">
            <span>{{localize "Forien.EasyPolls.CountAnswered"}}: <i class="count-answered">{{poll.total}}</i></span>
        </div>
    </div>
</li>
